<!DOCTYPE html>
<html>
<head>
    <title>About</title>
      <!--  jQuery CDN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!--  //materialize CDN -->
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
 <!--  my CSS -->
  <link rel="stylesheet" type="text/css" href="../styles.css">
  <!--   jQuery -->
  <script type="text/javascript">
      $(document).ready(function(){

        $(".button-collapse").sideNav();

        $('.collapsible').collapsible();
      });
   </script>
</head>
<body>
   <!--  Navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="../index.html" class="brand-logo">MichelkaLove</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">Menu</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li class="gallery_tab">
          <a href="#" class="Gallery">Gallery</a>
            <div class="gallery_tab-content">
              <a href="fashion.html">Fashion</a>
              <a href="lifestyle.html">Lifestyle</a>
            </div>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul>

       <!--  Mobile -->
      <ul id="mobile-demo" class="side-nav #ef9a9a red lighten-3">
        <li><a href="../index.html">Home</a></li>
        <li class="gallery_tab">
          <a href="#" class="side_gallery">Gallery</a>
            <div class="gallery_tab-content">
              <a href="fashion.html">Fashion</a>
              <a href="lifestyle.html">Lifestyle</a>
            </div>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul>
    </div>
  </nav>

    <div class='about_body'>

        <!-- <img class='thumbnail' src='../images/headshot_thumb.jpg' alt="thumb"> -->

        <div class="about_text">

                <img class='thumbnail' src='../images/headshot_thumb.jpg' alt="thumb">
                <h3>A Bit About Myself</h3>

                <p>I am inspired by natural beauty, fashion, make-up, dance, acting, and art. I enjoy modeling, performing, and living a healthy life style.</p>
                <p>Growing up, I was a rhythmic gymnast, and participated in national competitions. In high school, I was part of Fantasy Dance Group. We performed at local arts and wine festivals, on the Alaska Cruise, and at other privately and publicly-held events around the SF Bay Area, and did runway modeling for Fashion Passion clothing store. </p>
                <p>Please feel free to reach out to me, I would love to meet you!</p>
        </div>
    </div>

   <!--   Footer -->
  <footer class="page-footer">
    <div class="footer-copyright">
    <!--   <div class="container"> -->
        <div class="copyright">
          &copy2016 MichelkaLove
        </div>
        <div class="links">
          <a href="https://www.facebook.com" class="grey-text text-lighten-4 right"><img src='../images/facebook.png' width='30px' height='30px'></a>

          <a href="https://www.instagram.com/micherachel/?hl=en" class="grey-text text-lighten-4 right"><img src='../images/instagram.png' width='30px' height='30px'></a>

          <a href="https://www.twitter.com" class="grey-text text-lighten-4 right"><img src='../images/twitter.png' width='30px' height='30px'></a>
        </div>

     <!--  </div> -->
    </div>
  </footer>

</div>
</body>
</html>