<!DOCTYPE html>
<html>
<head>
    <title>Contact Me</title>
      <!--  jQuery CDN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!--  //materialize CDN -->
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
 <!--  my CSS -->
  <link rel="stylesheet" type="text/css" href="../styles.css">
<!--   jQuery -->
  <script type="text/javascript">
      $(document).ready(function(){

        $(".button-collapse").sideNav();

        $('.collapsible').collapsible();
      });
   </script>
</head>
<body>
    <!--  Navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="../index.html" class="brand-logo">MichelkaLove</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">Menu</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li class="gallery_tab">
          <a href="#" class="Gallery">Gallery</a>
            <div class="gallery_tab-content">
              <a href="fashion.html">Fashion</a>
              <a href="lifestyle.html">Lifestyle</a>
            </div>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul>

       <!--  Mobile -->
      <ul id="mobile-demo" class="side-nav #ef9a9a red lighten-3">
        <li><a href="../index.html">Home</a></li>
        <li class="gallery_tab">
          <a href="#" class="side_gallery">Gallery</a>
            <div class="gallery_tab-content">
              <a href="fashion.html">Fashion</a>
              <a href="lifestyle.html">Lifestyle</a>
            </div>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul>
    </div>
  </nav>



  <div class="contact_body">
    <div class="contact_text">
      <h3>Contact Me</h3>
      <p>I am currently pursuing modeling and acting opportunities. If you have an exciting concept you would like to collaborate on, please reach out!</p>
      <p>Email: Michelle@gmail.com</p>
      <p>Model Mayhem: http://www.modelmayhem.com/3871272</p>
    </div>
  </div>

   <!--   Footer -->
  <footer class="page-footer">
    <div class="footer-copyright">
    <!--   <div class="container"> -->
        <div class="copyright">
          &copy2016 MichelkaLove
        </div>
        <div class="links">
          <a href="https://www.facebook.com" class="grey-text text-lighten-4 right"><img src='../images/facebook.png' width='30px' height='30px'></a>

          <a href="https://www.instagram.com/micherachel/?hl=en" class="grey-text text-lighten-4 right"><img src='../images/instagram.png' width='30px' height='30px'></a>

          <a href="https://www.twitter.com" class="grey-text text-lighten-4 right"><img src='../images/twitter.png' width='30px' height='30px'></a>
        </div>

     <!--  </div> -->
    </div>
  </footer>

</body>
</html>